@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <style>
        
        .navbar {
            overflow: hidden;
            background-color: #333;
        }

            .navbar a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                .navbar a:hover {
                    background-color: #ddd;
                    color: black;
                }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/">Index</a>
        <a href="/Student/About">About</a>
        <a href="/Student/Contact">Contact</a>
    </div>
    <div>
        <div>
            <h3>Country List</h3>
            @helper About(string[] arr)
            {
                <ul>
                    @foreach (var item in arr)
                    {
                        <li>@item</li>
                    }
                </ul>
            }
            @About(new string[] { "India", "China", "japan" })
        </div>
    </div>
</body>
</html>
